*, *::before, *::after { box-sizing: border-box; }

body {
  margin: 0;
  padding: 0;
  background: #F1F5F9;
}

#root {
  width: 100%;
  max-width: 100%;
  margin: 0;
  text-align: left;
  min-height: 100vh;
  display: block;
}

h1, h2 { margin: 0; }
p { margin: 0; }
button { font-family: inherit; }
input { font-family: inherit; }
